{% extends 'products/base.html' %}

{% block css %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Cartoleria</h1>
                    <p>
                        Большой выбор товаров для хобби и творчества в интернет-магазине Cartoleria.
                        Доставка и самовывоз по всей России! Скидка на первый заказ в нашем мобильном приложении!
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}